@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="titulo-carrinho1">CARRINHO <small class="titulo-carrinho2">Clique em finalizar compra para efetuar o seu pedido.</small></h1>

    <div class="BasketTable">
        <div class="BasketTable-header">
            <div class="BasketTable-header-title">Produto</div>
            <div class="BasketTable-header-title">Quantidade</div>
            <div class="BasketTable-header-title">Preço</div>
        </div>

        @foreach (var item in ViewBag.cart)
        {
            <div class="BasketTable-items">
                <div class="BasketItem">
                    <div class="BasketItem-productContainer">
                        <div class="BasketItemProduct">
                            @*<a class="BasketItemProduct-image" href="@Url.ActionLink("Detalhe", "Produtos", new { id = item.Id })">*@
                            <a class="BasketItemProduct-image">
                                <img src="~/produtos_img/@item.Produto.ImagePath"
                                     alt="Produto"
                                     width="190"
                                     style="align-self: center;"
                                     asp-append-version="true" />
                            </a>
                            <div class="BasketItemProduct-info">
                                <a class="BasketItemProduct-info-title"><p class="text-uppercase titulo-item">@item.Produto.Titulo</p></a>
                            </div>
                        </div>
                        <div class="BasketItemProduct-quantity">
                            <select class="BasketItemProduct-quantity-dropdown">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <a class="BasketItemProduct-quantity-remove" asp-controller="carrinho" asp-action="remove" asp-route-id="@item.Id">Excluir</a>
                        </div>
                        <div class="BasketItemProduct-price">
                            <span class="BasketItemPrice-listPrice">@item.Produto.Valor</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="BasketPriceBox">
        <div class="BasketPriceBox-prices">
            <div class="BasketPriceBox-price">
                <span id="subtotal0" class="BasketPriceBox-prices-title preco-total">
                    Subtotal (0 itens)
                </span>
                <span style="display: none" id="subtotal1" class="BasketPriceBox-prices-title preco-total">
                    Subtotal (@this.Context.Session.GetString("qtdItens") item)
                </span>
                <span style="display: none" id="subtotal2" class="BasketPriceBox-prices-title preco-total">
                    Subtotal (@this.Context.Session.GetString("qtdItens") itens)
                </span>
                <div class="BasketPriceBox-prices-values">
                    <div>
                        <p style="padding-left: 30px;" class="preco-total">R$ @ViewBag.total</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="BasketContinue">
            <div class="BasketContinue-actions">
                <div style="background: #e4e4e4; align-self: center; padding-left: 10px;">
                    <i style="align-self: center" class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    <a class="BasketContinue-buyMore" asp-controller="produtos" asp-action="index">Comprar mais produtos</a>
                </div>
                <a class="BasketContinue-button btn" asp-controller="checkout" asp-action="index">Checkout</a>
            </div>
        </div>
    </div>

</body>
</html>

@{
    if (this.Context.Session.GetString("qtdItens") == "1")
    {
        <script>
            document.getElementById("subtotal0").style.display = "none";
            document.getElementById("subtotal1").style.display = "";
        </script>
    }
    else
    {
        <script>
            document.getElementById("subtotal0").style.display = "none";
            document.getElementById("subtotal2").style.display = "";
        </script>
    };
}


<style>
    .titulo-item {
        padding-top: 20px;
        font-weight: 700;
        color: #5d5d5d;
    }

    .titulo-carrinho1 {
        margin-top: 5%;
        font-weight: 700;
        font-size: 22px;
        color: rgb(56, 56, 56);
    }

    .titulo-carrinho2 {
        opacity: 0.5;
    }

    .preco-total {
        font-family: 'Montserrat', sans-serif;
    }

    .BasketTable {
        margin-top: 2%;
        background: white;
    }

    .BasketTable-header {
        color: white;
        background-color: #000;
        border-radius: 3px;
        display: flex;
        height: 40px;
        justify-content: space-around;
    }

    .BasketTable-header-title {
        font-family: sans-serif;
        font-size: 20px;
        width: 0%;
        align-self: center;
        padding-left: 10px;
    }

    .BasketItem {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }

    .BasketItem-productContainer {
        display: flex;
        justify-content: space-around;
    }

    .BasketItemProduct {
        text-align: center;
    }

    .BasketItemProduct-image {
        min-width: 102px;
        margin-right: 20px;
    }

    .BasketItemProduct-info-title {
        color: #404040;
        text-decoration: none;
        font-family: sans-serif;
    }

    .BasketItemPrice-listPrice {
        font-size: 20px;
        font-family: sans-serif;
    }

    .BasketItemProduct-price {
        align-self: center;
    }

    .BasketItemProduct-quantity {
        width: 22%;
        text-align: center;
        color: black;
        align-self: center;
    }

    .BasketItemProduct-quantity-dropdown {
        width: 54px;
        height: 40px;
        padding-left: 8px;
    }

    .BasketItemProduct-quantity-remove {
        display: block;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        color: #8c8c8c;
        font-size: 14px;
        line-height: 1;
    }

    .BasketPriceBox {
        align-items: flex-end;
        margin-right: -20px;
        margin-left: -20px;
        padding: 20px;
        border-radius: 3px;
        background-color: #eee;
        box-shadow: inset 0 -5px 0 -2px #0083ca;
    }

    .BasketPriceBox-prices {
        margin-right: 0;
    }

    .BasketPriceBox-price {
        margin-left: 80%;
        font-size: 20px;
        border-top: 2px solid;
        border-color: red;
        padding-left: 3%;
    }

    .BasketPriceBox-prices-title {
        margin-right: 15px;
        text-align: right;
        font-weight: 600;
    }

    .BasketPriceBox-prices-values, .BasketPriceBox-prices-values--unavailable {
        display: inline-block;
        width: 224px;
        margin-right: 0;
    }

    .BasketContinue-actions {
        line-height: 40px;
        padding-top: 10px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
    }

    .BasketContinue-buyMore {
        color: #000;
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        font-weight: 400;
        padding-left: 5px;
    }

    .BasketContinue-button {
        font-weight: 500;
        border-width: 0;
        color: white;
        background-color: rgb(140, 106, 106);
        font-size: 20px;
        width: 20%;
    }

        .BasketContinue-button:hover, .BasketContinue-button:active {
            color: #000000;
            background: #dedede;
            font-weight: 700;
        }
</style>